smart-voltronic/flows.json
[
  {
    "id": "c8fe9b595acc1100",
    "type": "tab",
    "label": "⚙️ Config",
    "disabled": false,
    "info": ""
  },
  {
    "id": "3029ff92e6259c1c",
    "type": "tab",
    "label": "🔌 Voltronic",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1020878ebace9f14",
    "type": "tab",
    "label": "📡 MQTT",
    "disabled": false,
    "info": ""
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "HA MQTT Broker",
    "broker": "__MQTT_HOST__",
    "port": "__MQTT_PORT__",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": "",
    "credentials": {
      "user": "__MQTT_USER__",
      "password": "__MQTT_PASS__"
    }
  },
  {
    "id": "c546b54ae425b9d2",
    "type": "serial-port",
    "serialport": "__SERIAL_1__",
    "serialbaud": "2400",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "waitfor": "",
    "dtr": "none",
    "rts": "none",
    "cts": "none",
    "dsr": "none",
    "newline": "\\r",
    "bin": "false",
    "out": "char",
    "addchar": "",
    "responsetimeout": "3000"
  },
  {
    "id": "55a40ce3e960db15",
    "type": "serial-port",
    "serialport": "__SERIAL_2__",
    "serialbaud": "2400",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "waitfor": "",
    "dtr": "none",
    "rts": "none",
    "cts": "none",
    "dsr": "none",
    "newline": "\\r",
    "bin": "false",
    "out": "char",
    "addchar": "",
    "responsetimeout": "3000"
  },
  {
    "id": "67ab0f8860a22b96",
    "type": "serial-port",
    "serialport": "__SERIAL_3__",
    "serialbaud": "2400",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "waitfor": "",
    "dtr": "none",
    "rts": "none",
    "cts": "none",
    "dsr": "none",
    "newline": "\\r",
    "bin": "false",
    "out": "char",
    "addchar": "",
    "responsetimeout": "3000"
  },
  {
    "id": "a70fef526976f555",
    "type": "global-config",
    "env": []
  },
  {
    "id": "ddb0577127963e26",
    "type": "inject",
    "z": "c8fe9b595acc1100",
    "name": "⏰ Au démarrage",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0.1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "b9a1d1ac68fe3d57"
      ]
    ]
  },
  {
    "id": "b9a1d1ac68fe3d57",
    "type": "function",
    "z": "c8fe9b595acc1100",
    "name": "📚 Helpers Library",
    "func": "function crc16(str, crc = 0, xorout = 0) {\n    for (let i = 0, t; i < str.length; i++, crc &= 0xFFFF) {\n        t = (crc >> 8) ^ str.charCodeAt(i);\n        t ^= t >> 4;\n        crc = (crc << 8) ^ (t << 12) ^ (t << 5) ^ t;\n    }\n    return crc ^ xorout;\n}\n\nfunction buildVoltronicCommand(command, option = \"\") {\n    const fullCommand = command + option;\n    let commandHex = Buffer.from(fullCommand).toString('hex');\n    let crcVal = crc16(fullCommand).toString(16);\n    let messageHex = commandHex + crcVal + \"0d\";\n    return Buffer.from(messageHex, \"hex\");\n}\n\nfunction parseVoltronicResponse(buffer) {\n    if (!buffer || buffer.length < 3) return null;\n    let response = buffer.toString('ascii').trim();\n    response = response.replace(/[^\\x20-\\x7E]/g, '');\n    if (response[0] === '(') response = response.substring(1);\n    if (response.length > 4) response = response.substring(0, response.length - 4);\n    return response.trim();\n}\n\nglobal.set(\"helpers\", {\n    crc16,\n    buildVoltronicCommand,\n    parseVoltronicResponse\n});\n\nnode.status({ fill: \"green\", shape: \"dot\", text: \"Helpers OK\" });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 100,
    "wires": [
      [
        "2e9640d366074a42"
      ]
    ]
  },
  {
    "id": "2e9640d366074a42",
    "type": "function",
    "z": "c8fe9b595acc1100",
    "name": "📋 Configuration globale",
    "func": "const addonConfig = {\n    serialPorts: [\"/dev/ttyUSB0\", \"/dev/ttyUSB1\"],\n    mqtt: { broker: \"core-mosquitto\", port: 1883, user: \"\", password: \"\" },\n    polling: { fast: 5 }\n};\n\nconst serialPorts = addonConfig.serialPorts.filter(p => p && p.length > 0);\n\nconst mqttConfig = {\n    baseTopic: \"voltronic\",\n    discoveryPrefix: \"homeassistant\",\n    deviceName: \"Onduleur Voltronic\",\n    broker: addonConfig.mqtt.broker,\n    port: addonConfig.mqtt.port\n};\n\nconst pollingFastMs = (addonConfig.polling.fast || 5) * 1000;\n\nglobal.set(\"config.serialPorts\", serialPorts);\nglobal.set(\"config.mqtt\", mqttConfig);\nglobal.set(\"config.pollingFastMs\", pollingFastMs);\n\nfor (let i = 0; i < 2; i++) {\n    const inverterNum = i + 1;\n    global.set(\"inverter_\" + inverterNum + \".port\", serialPorts[i]);\n    global.set(\"inverter_\" + inverterNum + \".data\", {});\n}\n\nnode.status({ fill: \"green\", shape: \"dot\", text: \"Config OK\" });\n\nmsg.payload = { inverters: 2 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 630,
    "y": 100,
    "wires": [
      [
        "3ee942d96a0bb932"
      ]
    ]
  },
  {
    "id": "3ee942d96a0bb932",
    "type": "link out",
    "z": "c8fe9b595acc1100",
    "name": "link out 2",
    "mode": "link",
    "links": [
      "a58307404201a96b"
    ],
    "x": 785,
    "y": 100,
    "wires": []
  },
  {
    "id": "d48dfb8cb7e30224",
    "type": "inject",
    "z": "3029ff92e6259c1c",
    "name": "⏱️ Poll QPIGS (5s)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "5",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "f0cffd92bc716534"
      ]
    ]
  },
  {
    "id": "f0cffd92bc716534",
    "type": "function",
    "z": "3029ff92e6259c1c",
    "name": "📋 Commande QPIGS",
    "func": "const serialPorts = global.get(\"config.serialPorts\") || [];\nconst messages = [];\n\nfor (let i = 0; i < serialPorts.length; i++) {\n    const inverterNum = i + 1;\n    messages.push({\n        payload: \"QPIGS\",\n        inverterNum: inverterNum,\n        port: serialPorts[i],\n        command: \"QPIGS\"\n    });\n}\n\nreturn [messages];",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 100,
    "wires": [
      [
        "34b4960c1f15187b"
      ]
    ]
  },
  {
    "id": "34b4960c1f15187b",
    "type": "function",
    "z": "3029ff92e6259c1c",
    "name": "🔧 Construire commande",
    "func": "const helpers = global.get(\"helpers\");\n\nif (!msg.command) {\n    node.error(\"Pas de commande\");\n    return null;\n}\n\nconst commandBuffer = helpers.buildVoltronicCommand(msg.command);\n\nmsg.payload = commandBuffer;\n\nnode.status({\n    fill: \"blue\",\n    shape: \"dot\",\n    text: msg.command + \" → Onduleur \" + msg.inverterNum\n});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 710,
    "y": 100,
    "wires": [
      [
        "7afa06baa2d44fad",
        "fdc6d6feb803d15e",
        "a12c6ec92350fad9"
      ]
    ]
  },
  {
    "id": "7afa06baa2d44fad",
    "type": "function",
    "z": "3029ff92e6259c1c",
    "name": "🔖 Tag onduleur 1",
    "func": "msg.inverterNum = 1;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 150,
    "y": 200,
    "wires": [
      [
        "c66486dc5033be98"
      ]
    ]
  },
  {
    "id": "fdc6d6feb803d15e",
    "type": "function",
    "z": "3029ff92e6259c1c",
    "name": "🔖 Tag onduleur 2",
    "func": "msg.inverterNum = 2;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 150,
    "y": 260,
    "wires": [
      [
        "c66486dc5033be98"
      ]
    ]
  },
  {
    "id": "a12c6ec92350fad9",
    "type": "function",
    "z": "3029ff92e6259c1c",
    "name": "🔖 Tag onduleur 3",
    "func": "msg.inverterNum = 3;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 150,
    "y": 320,
    "wires": [
      [
        "c66486dc5033be98"
      ]
    ]
  },
  {
    "id": "c66486dc5033be98",
    "type": "switch",
    "z": "3029ff92e6259c1c",
    "name": "🔀 Router",
    "property": "inverterNum",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "3",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 380,
    "y": 260,
    "wires": [
      [
        "494f5e90163b989f"
      ],
      [
        "575d5f8e21bb3f46"
      ],
      [
        "9a07ca0df6b65d95"
      ]
    ]
  },
  {
    "id": "494f5e90163b989f",
    "type": "serial out",
    "z": "3029ff92e6259c1c",
    "name": "📤 Serial Out 1",
    "serial": "c546b54ae425b9d2",
    "x": 550,
    "y": 200,
    "wires": []
  },
  {
    "id": "575d5f8e21bb3f46",
    "type": "serial out",
    "z": "3029ff92e6259c1c",
    "name": "📤 Serial Out 2",
    "serial": "55a40ce3e960db15",
    "x": 550,
    "y": 260,
    "wires": []
  },
  {
    "id": "9a07ca0df6b65d95",
    "type": "serial out",
    "z": "3029ff92e6259c1c",
    "name": "📤 Serial Out 3",
    "serial": "67ab0f8860a22b96",
    "x": 550,
    "y": 320,
    "wires": []
  },
  {
    "id": "01e226fa55d4a3aa",
    "type": "serial in",
    "z": "3029ff92e6259c1c",
    "name": "📥 Serial In 1",
    "serial": "c546b54ae425b9d2",
    "x": 150,
    "y": 440,
    "wires": [
      [
        "9189b93b6eb39f7d"
      ]
    ]
  },
  {
    "id": "682e1c93304906ac",
    "type": "serial in",
    "z": "3029ff92e6259c1c",
    "name": "📥 Serial In 2",
    "serial": "55a40ce3e960db15",
    "x": 150,
    "y": 500,
    "wires": [
      [
        "9189b93b6eb39f7d"
      ]
    ]
  },
  {
    "id": "9abbc9c03dfdc6b9",
    "type": "serial in",
    "z": "3029ff92e6259c1c",
    "name": "📥 Serial In 3",
    "serial": "67ab0f8860a22b96",
    "x": 150,
    "y": 560,
    "wires": [
      [
        "9189b93b6eb39f7d"
      ]
    ]
  },
  {
    "id": "9189b93b6eb39f7d",
    "type": "function",
    "z": "3029ff92e6259c1c",
    "name": "🔍 Parser QPIGS",
    "func": "const helpers = global.get(\"helpers\");\nconst serialPorts = global.get(\"config.serialPorts\") || [];\n\nif (!msg.inverterNum) {\n    const port = msg.port;\n    const portIndex = serialPorts.findIndex(p => p === port);\n    if (portIndex >= 0) {\n        msg.inverterNum = portIndex + 1;\n    } else {\n        node.warn(\"Port non configuré: \" + port);\n        return null;\n    }\n}\n\nconst inverterNum = msg.inverterNum;\nconst data = helpers.parseVoltronicResponse(msg.payload);\n\nif (!data) {\n    return null;\n}\n\nconst fields = data.split(' ');\nconst fieldCount = fields.length;\n\nif (fieldCount < 20) {\n    return null;\n}\n\nconst p = fields;\n\nconst parsed = {\n    grid_voltage: parseFloat(p[0]) || 0,\n    grid_frequency: parseFloat(p[1]) || 0,\n    ac_output_voltage: parseFloat(p[2]) || 0,\n    ac_output_frequency: parseFloat(p[3]) || 0,\n    ac_output_apparent_power: parseInt(p[4]) || 0,\n    ac_output_active_power: parseInt(p[5]) || 0,\n    output_load_percent: parseInt(p[6]) || 0,\n    bus_voltage: parseInt(p[7]) || 0,\n    battery_voltage: parseFloat(p[8]) || 0,\n    battery_charging_current: parseInt(p[9]) || 0,\n    battery_capacity: parseInt(p[10]) || 0,\n    inverter_heat_sink_temp: parseInt(p[11]) || 0,\n    pv1_input_current: parseFloat(p[12]) || 0,\n    pv1_input_voltage: parseFloat(p[13]) || 0,\n    battery_voltage_scc: parseFloat(p[14]) || 0,\n    battery_discharge_current: parseInt(p[15]) || 0,\n    device_status: p[16] || '',\n    pv1_charging_power: parseInt(p[19]) || 0\n};\n\nparsed.pv1_power = Math.round(parsed.pv1_input_voltage * parsed.pv1_input_current);\nparsed.battery_power = Math.round(parsed.battery_voltage * (parsed.battery_charging_current - parsed.battery_discharge_current));\n\nglobal.set(\"inverter_\" + inverterNum + \".data\", parsed);\nglobal.set(\"inverter_\" + inverterNum + \".lastUpdate\", Date.now());\n\nmsg.payload = {\n    inverterNum: inverterNum,\n    command: \"QPIGS\",\n    data: parsed,\n    timestamp: new Date().toISOString()\n};\n\nnode.status({ fill: \"green\", shape: \"dot\", text: \"Onduleur \" + inverterNum + \": OK\" });\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 500,
    "wires": [
      [
        "082595e947e97076"
      ]
    ]
  },
  {
    "id": "082595e947e97076",
    "type": "link out",
    "z": "3029ff92e6259c1c",
    "name": "link out 1",
    "mode": "link",
    "links": [
      "1a259e9e04c7500d"
    ],
    "x": 545,
    "y": 500,
    "wires": []
  },
  {
    "id": "a58307404201a96b",
    "type": "link in",
    "z": "3029ff92e6259c1c",
    "name": "link in 2",
    "links": [
      "3ee942d96a0bb932"
    ],
    "x": 175,
    "y": 40,
    "wires": [
      [
        "f0cffd92bc716534"
      ]
    ]
  },
  {
    "id": "2fe4b4e3150cb3f8",
    "type": "function",
    "z": "1020878ebace9f14",
    "name": "📤 Publier états",
    "func": "const mqttConfig = global.get(\"config.mqtt\");\nconst inverterNum = msg.payload.inverterNum;\nconst data = msg.payload.data;\n\nconst stateTopic = mqttConfig.baseTopic + \"/\" + inverterNum + \"/state\";\n\nmsg.topic = stateTopic;\nmsg.payload = JSON.stringify(data);\nmsg.retain = false;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 200,
    "wires": [
      [
        "d4f6a44d8ea6a126"
      ]
    ]
  },
  {
    "id": "d3f751433cc811c4",
    "type": "function",
    "z": "1020878ebace9f14",
    "name": "🔍 Auto-discovery QPIGS",
    "func": "const mqttConfig = global.get(\"config.mqtt\");\nconst serialPorts = global.get(\"config.serialPorts\") || [];\nconst numInverters = serialPorts.length;\nconst messages = [];\n\nfor (let inverterNum = 1; inverterNum <= numInverters; inverterNum++) {\n    const deviceId = \"voltronic_\" + inverterNum;\n    const deviceName = \"Onduleur Voltronic \" + inverterNum;\n    \n    const device = {\n        identifiers: [deviceId],\n        name: deviceName,\n        manufacturer: \"Voltronic\",\n        model: \"Ultra 11kW\"\n    };\n    \n    const sensors = [\n        { key: \"battery_voltage\", name: \"Tension Batterie\", unit: \"V\", class: \"voltage\", icon: \"mdi:battery\" },\n        { key: \"battery_capacity\", name: \"SoC Batterie\", unit: \"%\", class: \"battery\", icon: \"mdi:battery-80\" },\n        { key: \"battery_power\", name: \"Puissance Batterie\", unit: \"W\", class: \"power\", icon: \"mdi:battery-charging\" },\n        { key: \"pv1_input_voltage\", name: \"Tension PV1\", unit: \"V\", class: \"voltage\", icon: \"mdi:solar-power\" },\n        { key: \"pv1_input_current\", name: \"Courant PV1\", unit: \"A\", class: \"current\", icon: \"mdi:current-dc\" },\n        { key: \"pv1_power\", name: \"Puissance PV1\", unit: \"W\", class: \"power\", icon: \"mdi:solar-power\" },\n        { key: \"ac_output_voltage\", name: \"Tension Sortie AC\", unit: \"V\", class: \"voltage\", icon: \"mdi:power-plug\" },\n        { key: \"ac_output_active_power\", name: \"Puissance Sortie AC\", unit: \"W\", class: \"power\", icon: \"mdi:lightning-bolt\" },\n        { key: \"output_load_percent\", name: \"Charge Sortie\", unit: \"%\", class: \"power_factor\", icon: \"mdi:gauge\" },\n        { key: \"inverter_heat_sink_temp\", name: \"Température\", unit: \"°C\", class: \"temperature\", icon: \"mdi:thermometer\" }\n    ];\n    \n    for (const sensor of sensors) {\n        const config = {\n            name: deviceName + \" \" + sensor.name,\n            unique_id: deviceId + \"_\" + sensor.key,\n            state_topic: mqttConfig.baseTopic + \"/\" + inverterNum + \"/state\",\n            value_template: \"{{ value_json.\" + sensor.key + \" }}\",\n            unit_of_measurement: sensor.unit,\n            device_class: sensor.class,\n            icon: sensor.icon,\n            device: device\n        };\n        \n        messages.push({\n            topic: mqttConfig.discoveryPrefix + \"/sensor/\" + deviceId + \"/\" + sensor.key + \"/config\",\n            payload: JSON.stringify(config),\n            retain: true\n        });\n    }\n}\n\nnode.status({ fill: \"green\", shape: \"dot\", text: \"Discovery: \" + (numInverters * 10) + \" capteurs créés\" });\n\nreturn [messages];",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 100,
    "wires": [
      [
        "d4f6a44d8ea6a126"
      ]
    ]
  },
  {
    "id": "d4f6a44d8ea6a126",
    "type": "mqtt out",
    "z": "1020878ebace9f14",
    "name": "📡 MQTT Out",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker",
    "x": 650,
    "y": 150,
    "wires": []
  },
  {
    "id": "c09709a064388f4c",
    "type": "inject",
    "z": "1020878ebace9f14",
    "name": "⏰ Au démarrage",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "d3f751433cc811c4"
      ]
    ]
  },
  {
    "id": "1a259e9e04c7500d",
    "type": "link in",
    "z": "1020878ebace9f14",
    "name": "link in 1",
    "links": [
      "082595e947e97076"
    ],
    "x": 145,
    "y": 200,
    "wires": [
      [
        "2fe4b4e3150cb3f8"
      ]
    ]
  }
]